<%= react_component("TodoListIndex") %>
<!-- <div id="todo_lists">
  <table>
    <thead>
      <tr>
        <th>content</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="todo in todo_lists">
        <td>{{ todo.content }}</td>
      </tr>
    </tbody>
  </table>
</div>
 -->
